<html lang="en">

<body>
      <%- include('header') %>

    <main style="margin: 1em;">
      <h3>Create Item</h3>
      <form class="card-text" action="/new" method="POST">
    
        <div class="input-group mb-3">
          <div class="input-group-prepend">
            <span>name</span>
          </div>
          <input name="name" type="text">
        </div>
                <div class="input-group mb-3">
                  <div class="input-group-prepend">
                    <span>units</span>
                  </div>
                  <input name="units" type="text">
                </div>
    
        <label for="warehouse">Select a Warehouse:</label>
        <select name="warehouse" id="warehouse">
          <option value=""></option>
          <% for(let warehouse of warehouses) { %>
            <option value="<%= warehouse %>">
              <%= warehouse %>
            </option>
            <% } %>
        </select>
    
        <button type="submit">Submit</button>
    
      </form>
    </main>
</body>

</html>