<!DOCTYPE html>
<html lang="en">

<body>
    <main >
      <h3>Create Warehouse</h3>
      <form  action="/warehouse/new" method="POST">


        <div>
          <div >
            <span>Warehouse Name</span>
          </div>
          <input name="warehouse" type="text">
        </div>

        <button type="submit">Submit</button>

      </form>
    </main>
</body>

</html>